/*  BRIDGE phpBB & WordPress Style Sheet
    --------------------------------------------------------------
	Style name:		proSilver
	Based on style:	proSilver (this is the default phpBB 3 style)

	Copyright 2011 leviatan21 ( http://www.mssti.com/ )
   --------------------------------------------------------------
*/
.widget-area table {
	width: 100%;
}

/* Moderator icons
 ------------ */

/* Spam icon */
ul.profile-icons li.wp-spam-icon												{ width: {IMG_ICON_WP_SPAM_WIDTH}px; height: {IMG_ICON_WP_SPAM_HEIGHT}px; }
ul.profile-icons li.wp-spam-icon, ul.profile-icons li.wp-spam-icon a			{ background-image: url("{IMG_ICON_WP_SPAM_SRC}"); background-position: 0 0; }
ul.profile-icons li.wp-spam-icon a:hover										{ background-position: 50% 100%; }
/* Spam icon fallback */
ul.profile-icons li.wp-info-icon												{ width: {IMG_ICON_POST_INFO_WIDTH}px; height: {IMG_ICON_POST_INFO_HEIGHT}px; }
ul.profile-icons li.wp-info-icon, ul.profile-icons li.wp-info-icon a			{ background-image: url("{IMG_ICON_POST_INFO_SRC}"); background-position: 0 0; }
ul.profile-icons li.wp-info-icon a:hover										{ background-position: 50% 100%; }

/* No Spam icon */
ul.profile-icons li.wp-nospam-icon												{ width: {IMG_ICON_WP_SPAM_WIDTH}px; height: {IMG_ICON_WP_SPAM_HEIGHT}px; }
ul.profile-icons li.wp-nospam-icon, ul.profile-icons li.wp-nospam-icon a		{ background-image: url("{IMG_ICON_WP_SPAM_SRC}"); background-position: 50% 100%; }
ul.profile-icons li.wp-nospam-icon a:hover										{ background-position: 0 0; }
/* No Spam icon fallback */
ul.profile-icons li.wp-noinfo-icon												{ width: {IMG_ICON_POST_REPORT_WIDTH}px; height: {IMG_ICON_POST_REPORT_HEIGHT}px; }
ul.profile-icons li.wp-noinfo-icon, ul.profile-icons li.wp-noinfo-icon a		{ background-image: url("{IMG_ICON_POST_INFO_SRC}"); background-position: 50% 100%; }
ul.profile-icons li.wp-noinfo-icon a:hover										{ background-position: 0 0; }

/* Approve icon */
ul.profile-icons li.wp-approve-icon												{ width: {IMG_ICON_WP_APPROVE_WIDTH}px; height: {IMG_ICON_WP_APPROVE_HEIGHT}px; }
ul.profile-icons li.wp-approve-icon, ul.profile-icons li.wp-approve-icon a		{ background-image: url("{IMG_ICON_WP_APPROVE_SRC}"); background-position: 50% 100%; }
ul.profile-icons li.wp-approve-icon a:hover										{ background-position: 0 0; }
/* Approve icon fallback */
ul.profile-icons li.wp-report-icon												{ width: {IMG_ICON_POST_REPORT_WIDTH}px; height: {IMG_ICON_POST_REPORT_HEIGHT}px; }
ul.profile-icons li.wp-report-icon, ul.profile-icons li.wp-report-icon a		{ background-image: url("{IMG_ICON_POST_REPORT_SRC}"); background-position: 50% 100%; }
ul.profile-icons li.wp-report-icon a:hover										{ background-position: 0 0; }

/* Unapprove icon */
ul.profile-icons li.wp-unapprove-icon											{ width: {IMG_ICON_WP_UNAPPROVE_WIDTH}px; height: {IMG_ICON_WP_UNAPPROVE_HEIGHT}px; }
ul.profile-icons li.wp-unapprove-icon, ul.profile-icons li.wp-unapprove-icon a	{ background-image: url("{IMG_ICON_WP_UNAPPROVE_SRC}"); background-position: 0 0; }
ul.profile-icons li.wp-unapprove-icon a:hover									{ background-position: 50% 100%; }
/* Unapprove icon fallback */
ul.profile-icons li.wp-noreport-icon											{ width: {IMG_ICON_POST_REPORT_WIDTH}px; height: {IMG_ICON_POST_REPORT_HEIGHT}px; }
ul.profile-icons li.wp-noreport-icon, ul.profile-icons li.wp-noreport-icon a	{ background-image: url("{IMG_ICON_POST_REPORT_SRC}"); background-position: 0 0; }
ul.profile-icons li.wp-noreport-icon a:hover									{ background-position: 50% 100%; }

/* Trash icon */
ul.profile-icons li.wp-trash-icon												{ width: {IMG_ICON_WP_TRASH_WIDTH}px; height: {IMG_ICON_WP_TRASH_WIDTH}px; }
ul.profile-icons li.wp-trash-icon, ul.profile-icons li.wp-trash-icon a			{ background-image: url("{IMG_ICON_WP_TRASH_SRC}"); background-position: 0 0; }
ul.profile-icons li.wp-trash-icon a:hover										{ background-position: 50% 100%; }
/* Trash icon fallback */
ul.profile-icons li.wp-delete-icon												{ width: {IMG_ICON_POST_DELETE_WIDTH}px; height: {IMG_ICON_POST_DELETE_HEIGHT}px; }
ul.profile-icons li.wp-delete-icon, ul.profile-icons li.wp-delete-icon a		{ background-image: url("{IMG_ICON_POST_DELETE_SRC}"); background-position: 0 0; }
ul.profile-icons li.wp-delete-icon a:hover										{ background-position: 50% 100%; }

/* Untrash icon */
ul.profile-icons li.wp-untrash-icon												{ width: {IMG_ICON_WP_TRASH_WIDTH}px; height: {IMG_ICON_WP_TRASH_WIDTH}px; }
ul.profile-icons li.wp-untrash-icon, ul.profile-icons li.wp-untrash-icon a		{ background-image: url("{IMG_ICON_WP_TRASH_SRC}"); background-position: 50% 100%; }
ul.profile-icons li.wp-untrash-icon a:hover										{ background-position: 0 0; }
/* Untrash icon fallback */
ul.profile-icons li.wp-undelete-icon											{ width: {IMG_ICON_POST_DELETE_WIDTH}px; height: {IMG_ICON_POST_DELETE_HEIGHT}px; }
ul.profile-icons li.wp-undelete-icon, ul.profile-icons li.wp-undelete-icon a	{ background-image: url("{IMG_ICON_POST_DELETE_SRC}"); background-position: 50% 100%; }
ul.profile-icons li.wp-undelete-icon a:hover									{ background-position: 0 0; }

.postbody ul.profile-icons li {
	margin: 0 1px;
}

/* New Post button at the navbar */
.section-blog .navbar .topic-actions {
	margin: 5px 0 0 0;
	float: right;
}
.section-blog .navbar .buttons,
.section-blog .navbar .buttons div {
	margin: 0 0 0 0;
	float: right;
}
.section-blog .navbar li.rightside {
  	text-align: left;
	font-weight: normal;
}

/* New Post button ( fallback to post-icon ) */
.blogpostnew-icon span						{ background: transparent none 0 0 no-repeat; }
.buttons div.blogpostnew-icon				{ width: {IMG_BUTTON_BLOGPOST_NEW_WIDTH}px; height: {IMG_BUTTON_BLOGPOST_NEW_HEIGHT}px; }
.blogpostnew-icon span						{ background-image: url("{IMG_BUTTON_BLOGPOST_NEW_SRC}"); }
