/*  BRIDGE phpBB & WordPress Style Sheet
    --------------------------------------------------------------
	Style name:		proSilver
	Based on style:	proSilver (this is the default phpBB 3 style)

	Copyright 2011 leviatan21 ( http://www.mssti.com/ )
   --------------------------------------------------------------
*/

/* Moderator icons
 ------------ */
ul.profile-icons li.wp-trash-icon			{ width: {IMG_ICON_POST_DELETE_WIDTH}px; height: {IMG_ICON_POST_DELETE_HEIGHT}px; }
.wp-trash-icon, .wp-trash-icon a			{ background: url("{IMG_ICON_POST_DELETE_SRC}") top left no-repeat; }

ul.profile-icons li.wp-spam-icon			{ width: {IMG_ICON_POST_REPORT_WIDTH}px; height: {IMG_ICON_POST_REPORT_HEIGHT}px; }
.wp-spam-icon, .wp-spam-icon a				{ background: url("{IMG_ICON_POST_REPORT_SRC}") top left no-repeat; }

ul.profile-icons li.wp-approve-icon			{ width: {IMG_ICON_USER_WARN_WIDTH}px; height: {IMG_ICON_USER_WARN_HEIGHT}px; }
.wp-approve-icon, .wp-approve-icon a		{ background: url("{T_IMAGESET_PATH}/icon_rate_good.gif") top left no-repeat; }

ul.profile-icons li.wp-unapprove-icon		{ width: {IMG_ICON_POST_INFO_WIDTH}px; height: {IMG_ICON_POST_INFO_HEIGHT}px; }
.wp-unapprove-icon, .wp-unapprove-icon a	{ background: url("{T_IMAGESET_PATH}/icon_rate_bad.gif") top left no-repeat; }

ul.profile-icons li.wp-approve-icon, ul.profile-icons li.wp-unapprove-icon {
	margin: 0;
}
.blogpostnew-icon span			{ background: transparent none 0 0 no-repeat; }
.buttons div.blogpostnew-icon	{ width: {IMG_BUTTON_BLOGPOST_NEW_WIDTH}px; height: {IMG_BUTTON_BLOGPOST_NEW_HEIGHT}px; }
.blogpostnew-icon span			{ background-image: url("{IMG_BUTTON_BLOGPOST_NEW_SRC}"); }

/* New Post button
 ------------ */
.section-blog .navbar .topic-actions {
	margin: 5px 0 0 0;
	float: right;
}
.section-blog .navbar .buttons,
.section-blog .navbar .buttons div {
	margin: 0 0 0 0;
	float: right;
}
.section-blog .navbar li.rightside {
  	text-align: left;
	font-weight: normal;
}
