	<script type="text/javascript">
	// <![CDATA[
//	onload_functions.push('document.getElementById("username").focus();');
	// ]]>
	</script>
	<!-- IF not DYNAMIC_SIDEBAR -->
	<form method="post" action="{S_LOGIN_ACTION}">
	<table class="tablebg" width="100%" cellspacing="1">
	<tr>
		<td class="cat"><h4><a href="{U_LOGIN_LOGOUT}">{L_LOGIN_LOGOUT}</a></h4></td>
	</tr>
	<tr>
		<td class="row1" align="center"><span class="genmed">{L_USERNAME}:</span> <input class="post" type="text" name="username" size="10" />&nbsp; <span class="genmed">{L_PASSWORD}:</span> <input class="post" type="password" name="password" size="10" />&nbsp; <!-- IF S_AUTOLOGIN_ENABLED --> <span class="gensmall">{L_LOG_ME_IN}</span> <input type="checkbox" class="radio" name="autologin" /><!-- ENDIF -->&nbsp; <input type="submit" class="btnmain" name="login" value="{L_LOGIN}" /></td>
	</tr>
	</table>
	{S_LOGIN_REDIRECT}
	{S_FORM_TOKEN}
	</form>
	<br clear="all" />
	<!-- ELSE -->
	<form action="{S_LOGIN_ACTION}" method="post">
	<table class="tablebg" width="100%" cellspacing="1">
	<tr>
		<th colspan="2">{L_LOGIN}</th>
	</tr>
	<tr>
	<td class="row2">
		<table align="center" cellspacing="1" cellpadding="4" style="width: 100%;">
		<!-- IF LOGIN_ERROR -->
			<tr>
				<td class="gensmall" colspan="2" align="center"><span class="error">{LOGIN_ERROR}</span></td>
			</tr>
		<!-- ENDIF -->
		<tr>
			<td valign="top" ><b class="gensmall">{L_USERNAME}:</b></td>
			<td><input class="post" type="text" name="{USERNAME_CREDENTIAL}" size="25" value="{USERNAME}" tabindex="1" />
				<!-- IF S_REGISTER_ENABLED -->
					<br /><a class="gensmall" href="{U_REGISTER}">{L_REGISTER}</a>
				<!-- ENDIF -->
			</td>
		</tr>
		<tr>
			<td valign="top" <!-- IF S_ADMIN_AUTH -->style="width: 50%; text-align: {S_CONTENT_FLOW_END};"<!-- ENDIF -->><b class="gensmall">{L_PASSWORD}:</b></td>
			<td>
				<input class="post" type="password" name="{PASSWORD_CREDENTIAL}" size="25" tabindex="2" />
				<!-- IF U_SEND_PASSWORD --><br /><a class="gensmall" href="{U_SEND_PASSWORD}">{L_FORGOT_PASS}</a><!-- ENDIF -->
				<!-- IF U_RESEND_ACTIVATION and not S_ADMIN_AUTH --><br /><a class="gensmall" href="{U_RESEND_ACTIVATION}">{L_RESEND_ACTIVATION}</a><!-- ENDIF -->
			</td>
		</tr>
		<!-- IF S_DISPLAY_FULL_LOGIN -->
			<!-- IF S_AUTOLOGIN_ENABLED -->
			<tr>
				<td>&nbsp;</td>
				<td><input type="checkbox" class="radio" name="autologin" tabindex="3" /> <span class="gensmall">{L_LOG_ME_IN}</span></td>
			</tr>
			<!-- ENDIF -->
			<tr>
				<td>&nbsp;</td>
				<td><input type="checkbox" class="radio" name="viewonline" tabindex="4" /> <span class="gensmall">{L_HIDE_ME}</span></td>
			</tr>
		<!-- ENDIF -->
		</table>
	</td>
	</tr>
	<!-- IF CAPTCHA_TEMPLATE and S_CONFIRM_CODE -->
	</table>
	
	<table class="tablebg" width="100%" cellspacing="1">
	<!-- INCLUDE {CAPTCHA_TEMPLATE} -->
	<!-- ENDIF -->
	{S_LOGIN_REDIRECT}
	<tr>
	<td class="cat" <!-- IF not S_ADMIN_AUTH or S_CONFIRM_CODE -->colspan="2"<!-- ENDIF --> align="center">{S_HIDDEN_FIELDS}<input type="submit" name="login" class="btnmain" value="{L_LOGIN}" tabindex="5" /></td>
	</tr>
	</table>
	{S_FORM_TOKEN}
	</form>

	<br clear="all" />
	<!-- ENDIF -->