<!-- INCLUDE overall_header.html -->

<div id="wp-phpbb-bridge-container">
	<div id="content">
	<!-- IF WP_NOTES_IS_404 or WP_NOTES_IS_CATEGORY or WP_NOTES_IS_MONTH or WP_NOTES_IS_YEAR or WP_NOTES_IS_SEARCH or WP_NOTES_IS_PAGED -->
		<div class="rules">
			<div class="inner"><span class="corners-top"><span></span></span>
				<!-- IF WP_NOTES_IS_404 -->
				<h3>{L_WP_ERROR_GENERAL}</h3>
				{WP_NOTES_IS_404}
				<!-- ENDIF -->
				<!-- IF WP_NOTES_IS_CATEGORY -->{WP_NOTES_IS_CATEGORY}<!-- ENDIF -->
				<!-- IF WP_NOTES_IS_MONTH -->{WP_NOTES_IS_MONTH}<!-- ENDIF -->
				<!-- IF WP_NOTES_IS_YEAR -->{WP_NOTES_IS_YEAR}<!-- ENDIF -->
				<!-- IF WP_NOTES_IS_SEARCH -->{WP_NOTES_IS_SEARCH}<!-- ENDIF -->
				<!-- IF WP_NOTES_IS_PAGED -->{WP_NOTES_IS_PAGED}<!-- ENDIF -->
			<span class="corners-bottom"><span></span></span></div>
		</div><!-- .rules //-->
		<br />
	<!-- ENDIF -->

	<!-- IF WIDGET_TEXT -->
		<div id="wp_widget_text" class="panel">
			<div class="inner"><span class="corners-top"><span></span></span>
			{WIDGET_TEXT}
			<span class="corners-bottom"><span></span></span></div>
		</div><!-- #wp_widget_text .panel //-->
		<br />
	<!-- ENDIF -->

	<!-- IF IN_SINGLE -->
		<!-- INCLUDE wordpress/viewtopic_body.html -->
	<!-- ELSE -->
		<!-- INCLUDE wordpress/topiclist_body.html -->
	<!-- ENDIF -->
	
	</div><!-- #content //-->
</div><!-- #wp-phpbb-bridge-container //-->

<!-- IF DYNAMIC_SIDEBAR or (IN_HOME and S_RECENT_TOPICS) -->
<div id="wp-phpbb-bridge-primary" class="widget-area">
	<!-- INCLUDE wordpress/left_sidebar_body.html -->
</div><!-- #wp-phpbb-bridge-primary .widget-area //-->
<!-- ENDIF -->

<!-- INCLUDE overall_footer.html -->