
<!-- IF POST_AUTHOR -->
		<!-- INCLUDE wordpress/author_body.html -->
<!-- ENDIF -->
	
		<!-- IF SIDEBAR_WP_IS_404 or SIDEBAR_WP_IS_CATEGORY or SIDEBAR_WP_IS_MONTH or SIDEBAR_WP_IS_YEAR or SIDEBAR_WP_IS_SEARCH or SIDEBAR_WP_IS_PAGED -->
		<div class="panel bg3">
			<div class="inner"><span class="corners-top"><span></span></span>
				<!-- IF SIDEBAR_WP_IS_404 --><h3>{L_WP_ERROR_GENERAL}</h3><!-- ENDIF -->
				<ul class="menu">
					<!-- IF SIDEBAR_WP_IS_404 --><li><h3>{L_WP_ERROR_GENERAL}</h3>{SIDEBAR_WP_IS_404}</li><!-- ENDIF -->
					<!-- IF SIDEBAR_WP_IS_CATEGORY --><li>{SIDEBAR_WP_IS_CATEGORY}</li><!-- ENDIF -->
					<!-- IF SIDEBAR_WP_IS_MONTH --><li>{SIDEBAR_WP_IS_MONTH}</li><!-- ENDIF -->
					<!-- IF SIDEBAR_WP_IS_YEAR --><li>{SIDEBAR_WP_IS_YEAR}</li><!-- ENDIF -->
					<!-- IF SIDEBAR_WP_IS_SEARCH --><li>{SIDEBAR_WP_IS_SEARCH}</li><!-- ENDIF -->
					<!-- IF SIDEBAR_WP_IS_PAGED --><li>{SIDEBAR_WP_IS_PAGED}</li><!-- ENDIF -->
				</ul>
			<span class="corners-bottom"><span></span></span></div>
		</div>
		<!-- ENDIF -->

		<!-- IF SIDEBAR_WP_PAGES_LIST -->
		<div class="panel bg3">
			<div class="inner"><span class="corners-top"><span></span></span>
				<h3>{L_WP_TITLE_PAGES}</h3>
				<ul class="menu">
					{SIDEBAR_WP_PAGES_LIST}
				</ul>
			<span class="corners-bottom"><span></span></span></div>
		</div>
		<!-- ENDIF -->

		<!-- IF SIDEBAR_WP_ARCHIVES_LIST -->
		<div class="panel bg3">
			<div class="inner"><span class="corners-top"><span></span></span>
				<h3>{L_WP_TITLE_ARCHIVES}</h3>
				<ul class="menu">
					{SIDEBAR_WP_ARCHIVES_LIST}
				</ul>
			<span class="corners-bottom"><span></span></span></div>
		</div>
		<!-- ENDIF -->

		<!-- IF SIDEBAR_WP_CATEGORIES -->
		<div class="panel bg3">
			<div class="inner"><span class="corners-top"><span></span></span>
				<h3>{L_WP_TITLE_CATEGORIES}</h3>
				<ul class="menu">
					{SIDEBAR_WP_CATEGORIES}
				</ul>
			<span class="corners-bottom"><span></span></span></div>
		</div>
		<!-- ENDIF -->

		<!-- IF SIDEBAR_WP_BOOKMARKS_LIST or SIDEBAR_WP_REGISTER or SIDEBAR_WP_LOGINOUT or SIDEBAR_WP_VALIDATOR or SIDEBAR_WP_FRIENDS or SIDEBAR_WP_WORDPRESS -->
		<div class="panel bg3">
			<div class="inner"><span class="corners-top"><span></span></span>
				<h3>{L_WP_TITLE_BOOKMARKS}</h3>
				<ul class="menu">
					<!-- IF SIDEBAR_WP_BOOKMARKS_LIST -->{SIDEBAR_WP_BOOKMARKS_LIST}<!-- ENDIF -->
					<!-- IF SIDEBAR_WP_REGISTER --><li>{SIDEBAR_WP_REGISTER}</li><!-- ENDIF -->
					<!-- IF SIDEBAR_WP_LOGINOUT --><li>{SIDEBAR_WP_LOGINOUT}</li><!-- ENDIF -->
					<!-- IF SIDEBAR_WP_VALIDATOR --><li>{SIDEBAR_WP_VALIDATOR}</li><!-- ENDIF -->
					<!-- IF SIDEBAR_WP_FRIENDS --><li>{SIDEBAR_WP_FRIENDS}</li><!-- ENDIF -->
					<!-- IF SIDEBAR_WP_WORDPRESS --><li>{SIDEBAR_WP_WORDPRESS}</li><!-- ENDIF -->
				</ul>
			<span class="corners-bottom"><span></span></span></div>
		</div>
		<!-- ENDIF -->

		<!-- IF SIDEBAR_WP_META -->
		<div class="panel bg3">
			<div class="inner"><span class="corners-top"><span></span></span>
				<h3>{L_WP_TITLE_META}</h3>
				<ul class="menu">
					{SIDEBAR_WP_META}
				</ul>
			<span class="corners-bottom"><span></span></span></div>
		</div>
		<!-- ENDIF -->

		<!-- IF SIDEBAR_WP_TAG_CLOUD -->
		<div class="panel bg3">
			<div class="inner"><span class="corners-top"><span></span></span>
				<h3>{L_WP_TITLE_TAG_CLOUD}</h3>
				<ul class="menu">
					{SIDEBAR_WP_TAG_CLOUD}
				</ul>
			<span class="corners-bottom"><span></span></span></div>
		</div>
		<!-- ENDIF -->
