			<ul class="linklist navlinks">
				<!-- IF U_WEB --><li class="icon-home"><a href="{U_WEB}" title="{L_WP_TITLE_WEB_EXPLAIN}" >{L_WP_TITLE_WEB}</a></li><!-- ENDIF -->
				<!-- IF U_INDEX --><li class="icon-home"><a href="{U_INDEX}" title="{L_WP_TITLE_FORUM_EXPLAIN}" >{L_WP_TITLE_FORUM}</a></li><!-- ENDIF -->
				<!-- IF U_BLOG --><li class="icon-home"><a href="{U_BLOG}" title="{L_WP_TITLE_BLOG_EXPLAIN}" >{L_WP_TITLE_BLOG}</a></li><!-- ENDIF -->
				<!-- IF not S_IS_BOT -->
					<!-- IF U_WP_ACP --><li class="icon-register rightside"><a href="{U_WP_ACP}">{L_WP_ADMIN_PANEL}</a></li><!-- ENDIF -->
					<li class="icon-logout rightside"><a href="{U_LOGIN_LOGOUT}" title="{L_LOGIN_LOGOUT}" accesskey="x">{L_LOGIN_LOGOUT}</a></li>
					<!-- IF not S_USER_LOGGED_IN and S_REGISTER_ENABLED and not (S_SHOW_COPPA or S_REGISTRATION) --><li class="icon-register rightside"><a href="{U_REGISTER}">{L_REGISTER}</a></li><!-- ENDIF -->
				<!-- ENDIF -->
			</ul>
			<!-- IF S_CLOCK -->
			<ul class="linklist leftside">
				<li class="clock">{CURRENT_DATE} <span id="the_clock">{CURRENT_TIME}<script type='text/javascript'> get_the_clock(); </script></span></li>
			</ul>
			<!-- ENDIF -->
			<!-- IF not S_IS_BOT -->
			<ul class="linklist rightside">
				<li>WP => {WP_USER_NAME} ({WP_USER_ID})</li>
				<li>PHPBB => {PHPBB_USER_NAME} ({PHPBB_USER_ID})</li>
			</ul>
			<!-- ENDIF -->