			<ul class="linklist navlinks">
				<!-- IF U_WEB --><li class="icon-home"><a href="{U_WEB}" title="{L_WP_TITLE_WEB_EXPLAIN}" >{L_WP_TITLE_WEB}</a></li><!-- ENDIF -->
				<!-- IF U_INDEX --><li class="icon-home"><a href="{U_INDEX}" title="{L_WP_TITLE_FORUM_EXPLAIN}" >{L_WP_TITLE_FORUM}</a></li><!-- ENDIF -->
				<!-- IF U_BLOG --><li class="icon-home"><a href="{U_BLOG}" title="{L_WP_TITLE_BLOG_EXPLAIN}" >{L_WP_TITLE_BLOG}</a></li><!-- ENDIF -->
				<!-- IF not S_IS_BOT -->
					<!-- IF U_WP_ACP --><li class="icon-register rightside"><a href="{U_WP_ACP}">{L_WP_ADMIN_PANEL}</a></li><!-- ENDIF -->
					<li class="icon-logout rightside"><a href="{U_LOGIN_LOGOUT_POPUP}" onclick="openMyModal('<!-- IF S_USER_LOGGED_IN -->logout<!-- ELSE -->login<!-- ENDIF -->', '{U_LOGIN_LOGOUT_POPUP}'); return false;">{L_LOGIN_LOGOUT}</a></li>
					<!-- IF not S_USER_LOGGED_IN and S_REGISTER_ENABLED and not (S_SHOW_COPPA or S_REGISTRATION) --><li class="icon-register rightside"><a href="{U_REGISTER_POPUP}" onclick="openMyModal('register', '{U_REGISTER_POPUP}'); return false;">{L_REGISTER}</a></li><!-- ENDIF -->
				<!-- ENDIF -->
			</ul>
		<!-- IF S_CLOCK or U_WP_ACP -->
			<ul class="linklist">
				<!-- IF S_CLOCK -->
				<li class="clock leftside">{CURRENT_DATE} <span id="the_clock">{CURRENT_TIME}<script type='text/javascript'> get_the_clock(); </script></span></li>
				<!-- ENDIF -->
				<!-- IF U_WP_ACP -->
				<li class="rightside">
					<div class="topic-actions">
						<div class="buttons">
							<div class="{BLOG_POST_IMG_CLASS}" title="{L_POST_TOPIC}"><a href="{U_POST_NEW_TOPIC}"><span></span>{L_POST_TOPIC}</a></div>
						</div>
					</div>
				</li>
				<!-- ENDIF -->
			</ul>
		<!-- ENDIF -->
