
		<div id="quickreply">
			<script type="text/javascript">
			// <![CDATA[
			var $jQ_validation=jQuery;

			$jQ_validation("#reply-button").click(function (){
				$jQ_validation("#quickreply").slideToggle("fast");
			});

			$jQ_validation(document).ready(function(){
				$jQ_validation("#quickreply").hide();
				$jQ_validation("#commentform").validate({
					rules: {
					<!-- IF not S_USER_LOGGED_IN -->
						author: {
							required: true
						},
						email: {
							required: true,
							minlength: 10
						},
						url: {
							required: true,
							minlength: 10
						},
					<!-- ENDIF -->
						comment: {
							required: true,
							minlength: 20
						}
					},
					messages: {
					<!-- IF not S_USER_LOGGED_IN -->
						author: {
							required: '<br />{LA_USERNAME_REQUIRED_NOTE}',
						},
						email: {
							required: '<br />{LA_EMAIL_REQUIRED_NOTE}',
							minlength: '<br />{LA_EMAIL_REQUIRED_MINLENGTH}'
						},
						url: {
							required: '<br />{LA_WEBSITE_REQUIRED_NOTE}',
							minlength: '<br />{LA_WEBSITE_REQUIRED_MINLENGTH}'
						},
					<!-- ENDIF -->
						comment: {
							required: '{LA_MESSAGE_REQUIRED_NOTE}',
							minlength: '{LA_MESSAGE_REQUIRED_MINLENGTH}'
						}
					}
				});
			});
			// ]]>
			</script>

			<form action="{U_ACTION}" method="post" id="commentform">
		<!-- IF S_DISPLAY_NOTE -->
			{S_DISPLAY_NOTE}
			{S_LOG_REDIRECT}
		<!-- ELSE -->
				<div class="panel bg3">
					<div class="inner"><span class="corners-top"><span></span></span>
						<h3>{L_POST_REPLY}</h3>
						<fieldset class="fields1">
							<!-- IF S_USER_LOGGED_IN -->
							<dl style="clear: left;">
								<dt><label>{L_WP_LOGGED_IN}:</label></dt>
								<dd>
									{S_LOGGED_AS}
									<input id="author" name="author" type="hidden" value="{COMMENT_AUTHOR}" size="60" maxlength="255" class="text autowidth" />
									<input id="email" name="email" type="hidden" value="{COMMENT_AUTHOR_EMAIL}" size="60" maxlength="255" class="text autowidth" />
									<input id="url" name="url" type="hidden" value="{COMMENT_AUTHOR_ULR}" size="60" maxlength="255" class="text autowidth" />
									{S_LOG_REDIRECT}
								</dd>
							</dl>
							<!-- ELSE -->
							<dl style="clear: left;">
								<dt><label for="author">{L_USERNAME}:</label><!-- IF REQUIRED_FIELDS --><span class="required">*</span><!-- ENDIF --></dt>
								<dd><input id="author" name="author" type="text" value="{COMMENT_AUTHOR}" size="60" maxlength="255" class="text autowidth" /></dd>
							</dl>
							<dl style="clear: left;">
								<dt><label for="email">{L_EMAIL_ADDRESS}:</label><!-- IF REQUIRED_FIELDS --><span class="required">*</span><!-- ENDIF --><br />{L_WP_EMAIL_NOTE}</dt>
								<dd><input id="email" name="email" type="text" value="{COMMENT_AUTHOR_EMAIL}" size="60" maxlength="255" class="text autowidth" /></dd>
							</dl>
							<dl style="clear: left;">
								<dt><label for="url">{L_WEBSITE}:</label><!-- IF REQUIRED_FIELDS --><span class="required">*</span><!-- ENDIF --></dt>
								<dd><input id="url" name="url" type="text" value="{COMMENT_AUTHOR_ULR}" size="60" maxlength="255" class="text autowidth" /></dd>
							</dl>
							<!-- ENDIF -->
							<dl style="clear: left;">
								<dt><label for="comment">{L_MESSAGE_BODY}:</label><span class="required">*</span></dt>
								<dd>&nbsp;</dd>
							</dl>
							<div id="message-box">
								<textarea name="comment" id="comment" class="inputbox" cols="100%" rows="10" tabindex="4">{MESSAGE}</textarea>
								<br /><br /><p>{L_COMMENT_ALLOWED_TAGS}</p>
							</div>

							<dl style="clear: left;">
								<dt>{L_WP_REQUIRED_FIELDS}</dt>
								<dd><span class="required">*</span></dd>
							</dl>
						</fieldset>
					<span class="corners-bottom"><span></span></span></div>
				</div>

				<div class="panel bg2">
					<div class="inner"><span class="corners-top"><span></span></span>
						<fieldset class="submit-buttons">
							<input name="submit" type="submit" id="submit" value="{L_SUBMIT}"  class="button1"/>
							<input type="hidden" name="comment_post_ID" id="comment_post_ID" value="{COMMENT_TO_POST_ID}" />
							{S_REPLYTO}
							{S_UNFILTEREDHTML}
						</fieldset>
					<span class="corners-bottom"><span></span></span></div>
				</div>
			<!-- ENDIF -->
			</form>
		</div><!-- #quickreply //-->
